.portfolio__selector-group {
  justify-content: center;
}

.portfolio__toggler {
  font-weight: var(--fw-medium);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: 250ms ease-in-out;
}

.active-portfolio,
.portfolio__toggler:where(:hover, :focus-visible) {
  background: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
}

.grid--portfolio {
  padding-top: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.card--project {
  & .card__img-wrapper {
    overflow: hidden;

    & .card__img {
      aspect-ratio: 1600/900;
    }
  }

  & .card__title {
    margin-top: 1.5rem;
  }

  & .card__footer {
    --flex-gap: 1rem;
    align-items: center;
    & .project__repo,
    & .project__site {
      color: var(--clr-neutral-400);
      transition: 250ms ease-in-out;
    }

    & .project__repo:where(:hover, :focus-visible),
    & .project__site:where(:hover, :focus-visible) {
      color: var(--clr-neutral-800);

      & i {
        margin-left: 3px;
        transition: 250ms ease-in-out;
      }
    }
  }
}
