.portfolio__selector-group {
  justify-content: center;
}

.grid--portfolio {
  padding-top: var(--space-constant-400);
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.card--project {
  & .card__img-wrapper {
    overflow: hidden;

    & .card__img {
      aspect-ratio: 1600/900;
      transition: var(--ts-speed-400);
    }
  }

  &:hover .card__img,
  &:focus-visible .card__img {
    scale: 1.05;
  }

  & .card__footer {
    --flex-gap: var(--space-constant-300);
    align-items: center;
    align-self: end;
  }
}
