.flex {
  display: flex;
  gap: var(--flex-gap, 1.5rem);
}

.grid {
  display: grid;
  gap: var(--grid-gap, 1.5rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-gap, 1.5rem);
}

.container {
  padding: var(--padding);
  max-width: var(--containerMaxWidth);
  margin-inline: auto;
  /* border: 1px solid blue; */
}
