.flex {
  display: flex;
  gap: var(--flex-gap, var(--space-400));
}

.grid {
  display: grid;
  gap: var(--grid-gap, var(--space-400));
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-gap, var(--space-400));
}

.container {
  --containerMaxWidth: 70em;

  padding: var(--space-400);
  max-width: var(--containerMaxWidth);
  margin-inline: auto;
  /* border: 1px solid blue; */
}
