/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flex {
  display: flex;
  gap: 1.5rem;
  gap: var(--flex-gap, 1.5rem);
}
.grid {
  display: grid;
  gap: 1.5rem;
  grid-gap: 1.5rem;
  grid-gap: var(--grid-gap, 1.5rem);
  gap: var(--grid-gap, 1.5rem);
}
.flow > *:where(:not(:first-child)) {
  margin-top: 1.5rem;
  margin-top: var(--flow-gap, 1.5rem);
}
.container {
  padding: clamp(1rem, 1.5vw, 1.5rem);
  padding: var(--padding);
  max-width: 70em;
  max-width: var(--containerMaxWidth);
  margin-inline: auto;
  /* border: 1px solid blue; */
}
.sr-only {
  /* hides element for sighted users */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.gradient-text {
  background: linear-gradient(var(--clr-accent-400), var(--clr-accent-300));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-border {
  border: double 3px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at top left,
      var(--clr-primary-400),
      var(--clr-accent-400)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
/* Typograpgy*/
.fs-900 {
  font-size: 2.75rem;
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: 2rem;
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: 1.25rem;
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: 1rem;
  font-size: var(--fs-600);
}
.fs-300 {
  font-size: 0.875rem;
  font-size: var(--fs-300);
}
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
.fw-medium {
  font-weight: 500;
  font-weight: var(--fw-medium);
}
.fw-bold {
  font-weight: 700;
  font-weight: var(--fw-bold);
}
.title-medium {
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
  font-weight: 500;
  font-weight: var(--fw-medium);
}
.title-bold {
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
  font-weight: 700;
  font-weight: var(--fw-bold);
}
.center {
  text-align: center;
}
/* Colors */
/* Components */
.primary-header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--clr-neutral-200);
}
@media (max-width: 44.999em) {
    .primary-header {
      bottom: 0;
    }
  }
.nav {
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo,
  .nav .nav__link {
    text-decoration: none;
    font-weight: 500;
    font-weight: var(--fw-medium);
  }
.nav .nav__toggle,
  .nav .nav__icon {
    display: none;
  }
.nav .nav__logo {
    color: hsl(0 0% 0%);
    color: var(--clr-neutral-900);
  }
.nav .nav__list {
    display: flex;
    gap: 1.5rem;
  }
.nav .nav__link {
    color: hsl(0, 0%, 46%);
    color: var(--clr-neutral-400);
  }
.nav .nav__link:where(:hover, :focus-visible), .nav .active-link {
    color: hsl(0 0% 0%);
    color: var(--clr-neutral-900);
  }
@media (max-width: 44.999em) {
    .nav .nav__list {
      position: fixed;
      left: 0;
      right: 0;
      bottom: -20rem;
      padding: clamp(1rem, 1.5vw, 1.5rem);
      padding: var(--padding);
      padding-bottom: 4rem;
      display: grid;
      grid-gap: 1.5rem;
      gap: 1.5rem;
      grid-template-columns: repeat(3, 1fr);
      background-color: hsl(0 0% 100%);
      background-color: var(--clr-neutral-100);
      box-shadow: 0px -3px 10px -3px rgba(0, 0, 0, 0.25);
      transition: bottom 300ms ease-in-out;
    }

      .nav .nav__list[data-expanded="true"] {
        bottom: 0;
      }

    .nav .nav__link {
      display: flex;
      gap: 0.75rem;
      flex-direction: column;
      align-items: center;
    }

    .nav .nav__icon,
    .nav .nav__toggle {
      display: block;
      font-size: 1.25rem;
      font-size: var(--fs-700);
    }

    .nav .nav__toggle {
      position: absolute;
      top: clamp(1rem, 1.5vw, 1.5rem);
      top: var(--padding);
      right: clamp(1rem, 1.5vw, 1.5rem);
      right: var(--padding);
      width: 2rem;
      aspect-ratio: 1;
      border: 0;
      background: transparent;
      cursor: pointer;
    }
  }
.section--home {
  min-height: 100vh;
  display: grid;
  align-items: center;
}
.section--home article {
      width: 100%;
    }
.section--home article .home__img {
      justify-self: center;
      max-width: 300px;
      aspect-ratio: 1;
      box-shadow: 0px 5px 5px rgb(0 0 0 / 0.25);
      animation: blob 8s ease-in-out infinite 1s;
    }
.section--home article .home__subtitle {
      position: relative;
      display: flex;
      align-items: center;
      padding-left: 5rem;
      color: hsl(0, 0%, 20%);
      color: var(--clr-neutral-800);
    }
.section--home article .home__subtitle::before {
        content: "";
        position: absolute;
        left: 0;
        width: 4.5rem;
        height: 1px;
        background-color: hsl(0, 0%, 20%);
        background-color: var(--clr-neutral-800);
      }
.section--home article .home__copy {
      max-width: 45ch;
    }
@media (min-width: 45em) {
      .section--home article {
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
      }

      .section--home article .home__img {
        order: 1;
        justify-self: end;
      }
    }
@keyframes blob {
  0% {
    border-radius: 60% 55% 45% 70%/60% 45% 70% 55%;
  }

  50% {
    border-radius: 40% 60% 70% 40%/50% 60% 40% 60%;
  }

  100% {
    border-radius: 60% 55% 45% 70%/60% 45% 70% 55%;
  }
}
.skill {
  --flex-gap: 0.5rem;
  --flow-gap: 0.25rem;
}
.skill .skill__icon {
    color: hsl(0, 0%, 20%);
    color: var(--clr-neutral-800);
  }
.card--skills .card__title {
    margin-bottom: 2rem;
  }
.grid--skills {
  max-width: 60em;
  margin-inline: auto;
}
@media (min-width: 45em) {
.grid--skills {
    --grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
  }
.grid--skill {
  --grid-gap: 1.5rem;
  max-width: 20em;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
}
.experience__toggler-group {
  justify-content: center;
  margin-bottom: 1.5rem;
}
.experience__toggler {
  font-weight: 500;
  font-weight: var(--fw-medium);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.active-experience,
.experience__toggler:where(:hover, :focus-visible) {
  background: hsl(0, 0%, 20%);
  background: var(--clr-neutral-800);
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
}
.experience {
  max-width: 30em;
  margin-inline: auto;
}
.grid--experience {
  --grid-gap: var(--padding);
  grid-template-columns: 1fr max-content 1fr;
}
.grid--experience .experience__date {
    margin-top: 0.5rem;
  }
.grid--experience .timeline__rounded {
    display: inline-block;
    width: 13px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: hsl(0, 0%, 46%);
    background-color: var(--clr-neutral-400);
  }
.grid--experience .timeline__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: hsl(0, 0%, 46%);
    background-color: var(--clr-neutral-400);
    transform: translate(6px, -9px);
  }
.portfolio__selector-group {
  justify-content: center;
}
.portfolio__toggler {
  font-weight: 500;
  font-weight: var(--fw-medium);
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background: transparent;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.active-portfolio,
.portfolio__toggler:where(:hover, :focus-visible) {
  background: hsl(0, 0%, 20%);
  background: var(--clr-neutral-800);
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
}
.grid--portfolio {
  padding-top: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.card--project .card__img-wrapper {
    overflow: hidden;
  }
.card--project .card__img-wrapper .card__img {
      aspect-ratio: 1600/900;
    }
.card--project .card__title {
    margin-top: 1.5rem;
  }
.card--project .card__footer {
    --flex-gap: 1rem;
    align-items: center;
  }
.card--project .card__footer .project__repo,
    .card--project .card__footer .project__site {
      color: hsl(0, 0%, 46%);
      color: var(--clr-neutral-400);
      transition: 250ms ease-in-out;
    }
.card--project .card__footer .project__repo:where(:hover, :focus-visible), .card--project .card__footer .project__site:where(:hover, :focus-visible) {
      color: hsl(0, 0%, 20%);
      color: var(--clr-neutral-800);
    }
.card--project .card__footer .project__repo:where(:hover, :focus-visible) i, .card--project .card__footer .project__site:where(:hover, :focus-visible) i {
        margin-left: 3px;
        transition: 250ms ease-in-out;
      }
.card--certificate .certificate__logo {
    max-width: 3.5rem;
  }
.card--certificate .certificate__link {
    width: -moz-max-content;
    width: max-content;
    align-self: end;
    color: hsl(0, 0%, 46%);
    color: var(--clr-neutral-400);
    transition: 250ms ease-in-out;
  }
.card--certificate .certificate__link:where(:hover, :focus-visible) {
      color: hsl(0, 0%, 20%);
      color: var(--clr-neutral-800);
    }
.card--certificate .certificate__link:where(:hover, :focus-visible) i {
        margin-left: 3px;
        transition: 250ms ease-in-out;
      }
.grid--certificates {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.grid--contact {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.card--contact h3 {
    margin-top: 1rem;
  }
.card--contact p {
    margin-top: 0.5rem;
  }
footer {
  --flow-gap: 2rem;
  padding-block: 4rem;
  background-color: hsl(0 0% 100%);
  background-color: var(--clr-neutral-100);
}
@media (max-width: 44.999em) {
footer {
    margin-bottom: 4rem;
}
  }
.footer__socials {
  justify-content: center;
}
.footer__social,
.back-to-top {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  aspect-ratio: 1;
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
  background-color: hsl(0, 0%, 20%);
  background-color: var(--clr-neutral-800);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 250ms ease-in-out;
}
.footer__social:where(:hover, :focus-visible), .back-to-top:where(:hover, :focus-visible) {
    background-color: hsl(0 0% 0%);
    background-color: var(--clr-neutral-900);
  }
:root {
  /* ========= Colors ========== */
  --hue: 0;
  --saturation: 0%;

  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-800: hsl(var(--hue), var(--saturation), 20%);
  --clr-neutral-400: hsl(var(--hue), var(--saturation), 46%);
  --clr-neutral-200: hsl(var(--hue), var(--saturation), 98%);
  --clr-neutral-100: hsl(0 0% 100%);

  --ff-primary: "DM Sans", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-900: 2.75rem;
  --fs-800: 2rem;
  --fs-700: 1.25rem;
  --fs-600: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;

  --containerMaxWidth: 70em;

  --padding: clamp(1rem, 1.5vw, 1.5rem);

  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
@media (min-width: 45em) {
  :root {
    --fs-900: 3.5rem;
    --fs-800: 2.25rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
  }
}
body,
button {
  font-size: 0.9375rem;
  font-size: var(--fs-400);
  font-weight: 400;
  font-weight: var(--fw-reg);
  font-family: "DM Sans", sans-serif;
  font-family: var(--ff-primary);
}
body {
  color: hsl(0, 0%, 46%);
  color: var(--clr-neutral-400);
  background-color: hsl(0, 0%, 98%);
  background-color: var(--clr-neutral-200);
  line-height: 1.6;
}
section:not(.section--home) {
    padding-bottom: 4rem;
  }
.section__title {
  --flow-gap: 0.75rem;
  padding-bottom: clamp(1rem, 1.5vw, 1.5rem);
  padding-bottom: var(--padding);
}
/* Components */
.card {
  padding: clamp(1rem, 1.5vw, 1.5rem);
  padding: var(--padding);
  background-color: hsl(0 0% 100%);
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
}
.cta {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  font-weight: var(--fw-bold);
  padding: 1rem 2rem;
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
  background-color: hsl(0, 0%, 20%);
  background-color: var(--clr-neutral-800);
  border: 0;
  border-radius: 1rem;
  cursor: pointer;
}
.cta--small {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
