/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}
/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}
html,
body {
  height: 100%;
}
/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}
a {
  text-decoration: none;
}
/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}
/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.flex {
  display: flex;
  gap: clamp(0.75rem, 1.5vw, 1.5rem);
  gap: var(--flex-gap, var(--space-400));
}
.grid {
  display: grid;
  gap: clamp(0.75rem, 1.5vw, 1.5rem);
  grid-gap: clamp(0.75rem, 1.5vw, 1.5rem);
  grid-gap: var(--grid-gap, var(--space-400));
  gap: var(--grid-gap, var(--space-400));
}
.flow > *:where(:not(:first-child)) {
  margin-top: clamp(0.75rem, 1.5vw, 1.5rem);
  margin-top: var(--flow-gap, var(--space-400));
}
.container {
  --containerMaxWidth: 70em;

  padding: clamp(0.75rem, 1.5vw, 1.5rem);

  padding: var(--space-400);
  max-width: var(--containerMaxWidth);
  margin-inline: auto;
  /* border: 1px solid blue; */
}
.sr-only {
  /* hides element for sighted users */
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.gradient-text {
  background: linear-gradient(var(--clr-accent-400), var(--clr-accent-300));
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-border {
  border: double 3px transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(
      circle at top left,
      var(--clr-primary-400),
      var(--clr-accent-400)
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
/* Typograpgy*/
.fs-900 {
  font-size: 2.75rem;
  font-size: var(--fs-900);
}
.fs-800 {
  font-size: 2rem;
  font-size: var(--fs-800);
}
.fs-700 {
  font-size: 1.25rem;
  font-size: var(--fs-700);
}
.fs-600 {
  font-size: 1rem;
  font-size: var(--fs-600);
}
.fs-300 {
  font-size: 0.875rem;
  font-size: var(--fs-300);
}
.fs-900,
.fs-800,
.fs-700,
.fs-600 {
  line-height: 1.1;
}
.fw-medium {
  font-weight: 500;
  font-weight: var(--fw-medium);
}
.fw-bold {
  font-weight: 700;
  font-weight: var(--fw-bold);
}
.title-medium {
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
  font-weight: 500;
  font-weight: var(--fw-medium);
}
.title-bold {
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
  font-weight: 700;
  font-weight: var(--fw-bold);
}
.center {
  text-align: center;
}
/* Colors */
.text-neutral-800 {
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
}
/* Components */
.cta {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  font-weight: var(--fw-bold);
  border: 0;
  border-radius: 1rem;
  cursor: pointer;

  transition: 250ms ease-in-out;

  transition: var(--ts-speed-400);
}
.cta:hover i.uil-arrow-right,
  .cta:focus-visible i.uil-arrow-right {
    margin-left: 3px;
    transition: 250ms ease-in-out;
    transition: var(--ts-speed-400);
  }
.cta--big {
  padding: 1rem 2rem;
  padding: var(--space-constant-300) var(--space-constant-500);
  border-radius: 1rem;
}
.cta--small {
  padding: 0.5rem 1rem;
  padding: var(--space-constant-100) var(--space-constant-300);
  border-radius: 0.5rem;
}
.cta--xsmall {
  padding: 0.25rem 0.5rem;
  padding: var(--space-constant-50) var(--space-constant-100);
  border-radius: 0.25rem;
}
.cta--dark {
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
  background-color: hsl(0, 0%, 20%);
  background-color: var(--clr-neutral-800);
}
.cta--dark:hover,
  .cta--dark:focus-visible {
    background-color: hsl(0 0% 0%);
    background-color: var(--clr-neutral-900);
  }
.active-cta--dark {
  background-color: hsl(0 0% 0%);
  background-color: var(--clr-neutral-900);
}
.cta--light {
  border: 1px solid hsl(0, 0%, 20%);
  border: 1px solid var(--clr-neutral-800);
  color: hsl(0, 0%, 20%);
  color: var(--clr-neutral-800);
  background: transparent;
}
.cta--light:hover,
  .cta--light:focus-visible,
  .cta--light .active-cta {
    color: hsl(0, 0%, 98%);
    color: var(--clr-neutral-200);
    background-color: hsl(0, 0%, 20%);
    background-color: var(--clr-neutral-800);
  }
.active-cta--light {
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
  background-color: hsl(0, 0%, 20%);
  background-color: var(--clr-neutral-800);
}
.primary-header {
  position: fixed;
  z-index: 100;
  z-index: var(--stack-3);
  left: 0;
  right: 0;
  background-color: hsl(0, 0%, 98%);
  background-color: var(--clr-neutral-200);
}
@media (max-width: 44.999em) {
    .primary-header {
      bottom: 0;
    }
  }
.nav {
  justify-content: space-between;
  align-items: center;
}
.nav .nav__logo,
  .nav .nav__link {
    font-weight: 500;
    font-weight: var(--fw-medium);
  }
.nav .nav__toggle,
  .nav .nav__icon {
    display: none;
  }
.nav .nav__list {
    display: flex;
    gap: 1.5rem;
    gap: var(--space-constant-400);
  }
.nav .nav__link {
    color: hsl(0, 0%, 40%);
    color: var(--clr-neutral-400);
  }
.nav .nav__link:hover,
    .nav .nav__link:focus-visible {
      color: hsl(0, 0%, 20%);
      color: var(--clr-neutral-800);
    }
.nav .nav__logo,
  .nav .active-link {
    color: hsl(0, 0%, 20%);
    color: var(--clr-neutral-800);
  }
@media (max-width: 44.999em) {
    .nav .nav__list {
      /* Position */
      position: fixed;
      left: 0;
      right: 0;
      bottom: -20rem;

      /* Grid */
      display: grid;
      gap: 1.5rem;
      grid-gap: 1.5rem;
      grid-gap: var(--space-constant-400);
      gap: var(--space-constant-400);
      grid-template-columns: repeat(3, 1fr);

      /* Shadow */
      box-shadow: 0px -3px 10px -3px rgb(0 0 0 / 0.25);
      box-shadow: var(--shadow-nav);

      padding: clamp(0.75rem, 1.5vw, 1.5rem);

      padding: var(--space-400);
      padding-bottom: 4rem;
      padding-bottom: var(--space-constant-700);
      background-color: hsl(0 0% 100%);
      background-color: var(--clr-neutral-100);
      transition: bottom 250ms ease-in-out;
      transition: bottom var(--ts-speed-400);
    }

      .nav .nav__list[data-expanded="true"] {
        bottom: 0;
      }

    .nav .nav__link {
      display: flex;
      gap: 0.75rem;
      gap: var(--space-constant-200);
      flex-direction: column;
      align-items: center;
    }

    .nav .nav__icon,
    .nav .nav__toggle {
      display: block;
      font-size: 1.25rem;
      font-size: var(--fs-700);
    }

    .nav .nav__toggle {
      position: absolute;
      top: clamp(0.75rem, 1.5vw, 1.5rem);
      top: var(--space-400);
      right: clamp(0.75rem, 1.5vw, 1.5rem);
      right: var(--space-400);
      width: 2rem;
      aspect-ratio: 1;
      border: 0;
      background: transparent;
    }
  }
.section--home {
  min-height: 100vh;
  display: grid;
  align-items: center;
}
.section--home article {
    width: 100%;
  }
.section--home article .home__img {
      justify-self: center;
      max-width: 300px;
      aspect-ratio: 1;
      box-shadow: 0px 3px 10px -3px rgb(0 0 0 / 0.25);
      box-shadow: var(--shadow-card);
      animation: blob 8s ease-in-out infinite 1s;
    }
.section--home article .home__text {
      --flow-gap: var(--space-500);
    }
.section--home article .home__subtitle {
      position: relative;
      align-items: center;
      padding-left: 5rem;
      padding-left: var(--space-constant-800);
      margin-top: 0.5rem;
      margin-top: var(--space-constant-100);
    }
.section--home article .home__subtitle::before {
        content: "";
        position: absolute;
        left: 0;
        width: 4.5rem;
        height: 1px;
        background-color: hsl(0, 0%, 20%);
        background-color: var(--clr-neutral-800);
      }
.section--home article .home__copy {
      max-width: 45ch;
    }
@media (min-width: 45em) {
      .section--home article {
        align-items: center;
        grid-template-columns: repeat(2, 1fr);
      }

      .section--home article .home__img {
        order: 1;
        justify-self: end;
      }
    }
/* Animation */
@keyframes blob {
  0% {
    border-radius: 60% 55% 45% 70%/60% 45% 70% 55%;
  }

  50% {
    border-radius: 40% 60% 70% 40%/50% 60% 40% 60%;
  }

  100% {
    border-radius: 60% 55% 45% 70%/60% 45% 70% 55%;
  }
}
.skill {
  --flex-gap: var(--space-constant-100);
  --flow-gap: var(--space-constant-100);
}
.card--skills .card__title {
    margin-bottom: 1.5rem;
    margin-bottom: var(--space-constant-400);
  }
.grid--skills {
  max-width: 60em;
  margin-inline: auto;
}
@media (min-width: 45em) {
.grid--skills {
    --grid-gap: var(--space-constant-400);
    grid-template-columns: repeat(2, 1fr);
}
  }
.grid--skill {
  --grid-gap: var(--space-constant-400);
  max-width: 20em;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
}
.experience__toggler-group {
  justify-content: center;
  margin-bottom: 2rem;
  margin-bottom: var(--space-constant-500);
}
.active-experience {
  background: hsl(0, 0%, 20%);
  background: var(--clr-neutral-800);
  color: hsl(0, 0%, 98%);
  color: var(--clr-neutral-200);
}
.experience-timeline {
  max-width: 30em;
  margin-inline: auto;
}
.grid--experience {
  --grid-gap: var(--padding);
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: "left mid right";

  /* Timeline Circle */
}
.grid--experience::before {
    content: "";
    display: block;
    width: 14px;
    aspect-ratio: 1;
    background-color: hsl(0, 0%, 40%);
    background-color: var(--clr-neutral-400);
    border-radius: 50%;
    grid-area: mid;
  }
/* Timeline Line */
.grid--experience:not(:nth-last-child(1))::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: hsl(0, 0%, 40%);
    background-color: var(--clr-neutral-400);
    transform: translate(7px, 14px);
    grid-area: mid;
  }
.grid--experience .experience {
    grid-area: var(--grid-area);
  }
.grid--experience .experience__subtitle {
    margin-top: 0.5rem;
    margin-top: var(--space-constant-100);
    font-weight: 500;
    font-weight: var(--fw-medium);
    line-height: 1.1;
  }
.grid--experience .experience__date {
    margin-top: 0.5rem;
    margin-top: var(--space-constant-100);
  }
.portfolio__selector-group {
  justify-content: center;
}
.grid--portfolio {
  padding-top: 1.5rem;
  padding-top: var(--space-constant-400);
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.card--project .card__img-wrapper {
    overflow: hidden;
  }
.card--project .card__img-wrapper .card__img {
      aspect-ratio: 1600/900;
      transition: 250ms ease-in-out;
      transition: var(--ts-speed-400);
    }
.card--project:hover .card__img,
  .card--project:focus-visible .card__img {
    scale: 1.05;
  }
.card--project .card__footer {
    --flex-gap: var(--space-constant-300);
    align-items: center;
    align-self: end;
  }
.card--certificate .certificate__logo {
    max-width: 3.5rem;
  }
.card--certificate .cta {
    width: -moz-max-content;
    width: max-content;
    align-self: end;
  }
.grid--certificates {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.grid--contact {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
.card--contact h3 {
    margin-top: 1rem;
  }
.card--contact p {
    margin-top: 0.5rem;
  }
footer {
  --flow-gap: var(--space-constant-500);

  padding-block: 4rem;

  padding-block: var(--space-constant-700);
  background-color: hsl(0 0% 100%);
  background-color: var(--clr-neutral-100);
}
@media (max-width: 44.999em) {
footer {
    margin-bottom: 4rem;
    margin-bottom: var(--space-constant-700);
}
  }
footer .cta:hover i,
  footer .cta:focus-visible i {
    margin: 0;
  }
.footer__socials {
  justify-content: center;
}
:root {
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* ========= Colors ========== */
  --hue: 0;
  --saturation: 0%;

  --clr-neutral-900: hsl(0 0% 0%);
  --clr-neutral-800: hsl(var(--hue), var(--saturation), 20%);
  --clr-neutral-400: hsl(var(--hue), var(--saturation), 40%);
  --clr-neutral-200: hsl(var(--hue), var(--saturation), 98%);
  --clr-neutral-100: hsl(0 0% 100%);

  /* ========= Typography ========= */
  --ff-primary: "DM Sans", sans-serif;

  --fw-reg: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-900: 2.75rem;
  --fs-800: 2rem;
  --fs-700: 1.25rem;
  --fs-600: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 0.875rem;

  /* ========= Spacing ========= */

  --space-900: clamp(3rem, 6vw, 6rem);
  --space-800: clamp(2.5rem, 5vw, 5rem);
  --space-700: clamp(2rem, 4vw, 4rem);
  --space-500: clamp(1rem, 2vw, 2rem);
  --space-400: clamp(0.75rem, 1.5vw, 1.5rem);

  --space-constant-900: 6rem;
  --space-constant-800: 5rem;
  --space-constant-700: 4rem;
  --space-constant-600: 3rem;
  --space-constant-500: 2rem;
  --space-constant-400: 1.5rem;
  --space-constant-300: 1rem;
  --space-constant-200: 0.75rem;
  --space-constant-100: 0.5rem;
  --space-constant-50: 0.25rem;

  /* ========= z-index ========= */
  --stack-3: 100;
  --stack-2: 10;
  --stack-1: 1;

  /* ========= Transition ========= */
  --ts-type: ease-in-out;

  --ts-speed-400: 250ms var(--ts-type);

  /* ========= Shadows ========= */
  --shadow-nav: 0px -3px 10px -3px rgb(0 0 0 / 0.25);
  --shadow-card: 0px 3px 10px -3px rgb(0 0 0 / 0.25);
}
@media (min-width: 45em) {
  :root {
    --fs-900: 3.5rem;
    --fs-800: 2.25rem;
    --fs-700: 1.5rem;
    --fs-600: 1.25rem;
    --fs-400: 1rem;
    --fs-300: 0.9375rem;
  }
}
body,
button {
  font-size: 0.9375rem;
  font-size: var(--fs-400);
  font-weight: 400;
  font-weight: var(--fw-reg);
  font-family: "DM Sans", sans-serif;
  font-family: var(--ff-primary);
}
body {
  color: hsl(0, 0%, 40%);
  color: var(--clr-neutral-400);
  background-color: hsl(0, 0%, 98%);
  background-color: var(--clr-neutral-200);
  line-height: 1.75;
}
button {
  cursor: pointer;
}
section:not(.section--home) {
    padding-block: clamp(3rem, 6vw, 6rem);
    padding-block: var(--space-900);
  }
.section__title {
  --flow-gap: var(--space-constant-100);
  padding-bottom: clamp(3rem, 6vw, 6rem);
  padding-bottom: var(--space-900);
}
/* Components */
.card {
  padding: 1.5rem;
  padding: var(--space-constant-400);
  background-color: hsl(0 0% 100%);
  background-color: var(--clr-neutral-100);
  border-radius: 0.5rem;
  box-shadow: 0px 3px 10px -3px rgb(0 0 0 / 0.25);
  box-shadow: var(--shadow-card);
}
