.skill {
  --flex-gap: var(--space-constant-100);
  --flow-gap: var(--space-constant-100);
}

.card--skills {
  & .card__title {
    margin-bottom: var(--space-constant-400);
  }
}

.grid--skills {
  max-width: 60em;
  margin-inline: auto;

  @media (min-width: 45em) {
    --grid-gap: var(--space-constant-400);
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--skill {
  --grid-gap: var(--space-constant-400);
  max-width: 20em;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
}
