.skill {
  --flex-gap: 0.5rem;
  --flow-gap: 0.25rem;

  & .skill__icon {
    color: var(--clr-neutral-800);
  }
}

.card--skills {
  & .card__title {
    margin-bottom: 2rem;
  }
}

.grid--skills {
  max-width: 60em;
  margin-inline: auto;

  @media (min-width: 45em) {
    --grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid--skill {
  --grid-gap: 1.5rem;
  max-width: 20em;
  margin-inline: auto;
  grid-template-columns: repeat(2, 1fr);
}
