.primary-header {
  position: fixed;
  z-index: var(--stack-3);
  left: 0;
  right: 0;
  background-color: var(--clr-neutral-200);
  @media (max-width: 44.999em) {
    & {
      bottom: 0;
    }
  }
}

.nav {
  justify-content: space-between;
  align-items: center;

  & .nav__logo,
  & .nav__link {
    font-weight: var(--fw-medium);
  }

  & .nav__toggle,
  & .nav__icon {
    display: none;
  }

  & .nav__list {
    display: flex;
    gap: var(--space-constant-400);
  }

  & .nav__link {
    color: var(--clr-neutral-400);

    &:hover,
    &:focus-visible {
      color: var(--clr-neutral-800);
    }
  }

  & .nav__logo,
  & .active-link {
    color: var(--clr-neutral-800);
  }

  @media (max-width: 44.999em) {
    & .nav__list {
      /* Position */
      position: fixed;
      left: 0;
      right: 0;
      bottom: -20rem;

      /* Grid */
      display: grid;
      gap: var(--space-constant-400);
      grid-template-columns: repeat(3, 1fr);

      /* Shadow */
      -webkit-box-shadow: var(--shadow-400);
      -moz-box-shadow: var(--shadow-400);
      box-shadow: var(--shadow-nav);

      padding: var(--space-400);
      padding-bottom: var(--space-constant-700);
      background-color: var(--clr-neutral-100);
      transition: bottom var(--ts-speed-400);

      &[data-expanded="true"] {
        bottom: 0;
      }
    }

    & .nav__link {
      display: flex;
      gap: var(--space-constant-200);
      flex-direction: column;
      align-items: center;
    }

    & .nav__icon,
    & .nav__toggle {
      display: block;
      font-size: var(--fs-700);
    }

    & .nav__toggle {
      position: absolute;
      top: var(--space-400);
      right: var(--space-400);
      width: 2rem;
      aspect-ratio: 1;
      border: 0;
      background: transparent;
    }
  }
}
