footer {
  --flow-gap: var(--space-constant-500);

  padding-block: var(--space-constant-700);
  background-color: var(--clr-neutral-100);

  @media (max-width: 44.999em) {
    margin-bottom: var(--space-constant-700);
  }

  & .cta:hover i,
  & .cta:focus-visible i {
    margin: 0;
  }
}

.footer__socials {
  justify-content: center;
}
