.card--certificate {
  & .certificate__logo {
    max-width: 3.5rem;
  }

  & .certificate__link {
    width: max-content;
    align-self: end;
    color: var(--clr-neutral-400);
    transition: 250ms ease-in-out;

    &:where(:hover, :focus-visible) {
      color: var(--clr-neutral-800);

      & i {
        margin-left: 3px;
        transition: 250ms ease-in-out;
      }
    }
  }
}

.grid--certificates {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
