.card--certificate {
  & .certificate__logo {
    max-width: 3.5rem;
  }

  & .cta {
    width: max-content;
    align-self: end;
  }
}

.grid--certificates {
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}
