.experience__toggler-group {
  justify-content: center;
  margin-bottom: var(--space-constant-500);
}

.active-experience {
  background: var(--clr-neutral-800);
  color: var(--clr-neutral-200);
}

.experience-timeline {
  max-width: 30em;
  margin-inline: auto;
}

.grid--experience {
  --grid-gap: var(--padding);
  grid-template-columns: 1fr max-content 1fr;
  grid-template-areas: "left mid right";

  /* Timeline Circle */
  &::before {
    content: "";
    display: block;
    z-index: var(--stack-2);
    width: 14px;
    aspect-ratio: 1;
    background-color: var(--clr-neutral-800);
    border-radius: 50%;
    grid-area: mid;
  }

  /* Timeline Line */
  &:not(:nth-last-child(1))::after {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: var(--clr-neutral-300);
    transform: translate(7px, 14px);
    grid-area: mid;
  }

  & .experience {
    grid-area: var(--grid-area);
  }

  & .experience__header {
    --flow-gap: var(--space-constant-100);
  }

  & .experience__subtitle {
    line-height: 1.1;
  }

  & .experience__summary {
    --flow-gap: var(--space-constant-100);
    margin-top: var(--space-constant-300);
  }
}
